.container2{
    width: 1110px;
    margin: 0 auto;
margin-top: 50px;
}

.container{
    width: 1110px;
    margin: 0 auto;
    margin-top: -200px;


}
.users{
    display: flex;
    justify-content: space-around;
    &_info{
        width: 300px;
        &__h{
            font-family: Ibarra Real Nova;
            font-size: 40px;
            font-weight: 700;
            line-height: 42px;
            letter-spacing: -0.3571428656578064px;
            text-align: left;
            
        }
        &__p{
            font-family: Public Sans;
            font-size: 16px;
            font-weight: 400;
            line-height: 30px;
            letter-spacing: 0px;
            text-align: left;
            
        }
    }
}
@media only screen and (max-width:992px){
    .container2{
        width: 850px;
        margin: 0 auto;
    margin-top: 50px;
    }

.container{
    width: 850px;
    margin: 0 auto;
    margin-top: -270px;


}
.users{
    display: flex;
    justify-content: space-around;
    &_info{
        width: 300px;
        &__h{
            font-family: Ibarra Real Nova;
            font-size: 40px;
            font-weight: 700;
            line-height: 42px;
            letter-spacing: -0.3571428656578064px;
            text-align: left;
            
        }
        &__p{
            font-family: Public Sans;
            font-size: 16px;
            font-weight: 400;
            line-height: 30px;
            letter-spacing: 0px;
            text-align: left;
            
        }
    }
}
}

@media only screen and (max-width:768px){
    .container2{
        width: 700px;
        margin: 0 auto;
    margin-top: 50px;
    }

    .container{
        width: 700px;
        margin: 0 auto;
        margin-top: -200px;
    
    
    }
    .users{
        display: flex;
        justify-content: space-around;
        &_info{
            width: 300px;
            &__h{
                font-family: Ibarra Real Nova;
                font-size: 40px;
                font-weight: 700;
                line-height: 42px;
                letter-spacing: -0.3571428656578064px;
                text-align: left;
                
            }
            &__p{
                font-family: Public Sans;
                font-size: 16px;
                font-weight: 400;
                line-height: 30px;
                letter-spacing: 0px;
                text-align: left;
                
            }
        }
    }
    }
    @media only screen and (max-width:576px){
        .container2{
            width: 400px;
            margin: 0 auto;
        margin-top: 50px;
        }

        .container{
            width: 400px;
            margin: 0 auto;
            margin-top: -200px;
        
        
        }
        .users{
            width:428px ;
            &_img{
               margin:0 40px;
            }
            display: block;
            justify-content: center;
            &_info{
                justify-content: center;
                width: 400px;
                &__h{
                    font-family: Ibarra Real Nova;
                    font-size: 40px;
                    font-weight: 700;
                    line-height: 42px;
                    letter-spacing: -0.3571428656578064px;
                    text-align: left;
                    
                }
                &__p{
                    font-family: Public Sans;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 30px;
                    letter-spacing: 0px;
                    text-align: left;
                    
                }
            }
        }
        }
        @media only screen and (max-width:400px){
            .container2{
                width: 350px;
                margin: 0 auto;
            margin-top: 50px;
            }

            .container{
                width: 350px;
                margin: 0 auto;
                margin-top: -100px;
            
            
            }
            .users{
                width:428px ;
                &_img{
                   margin:0 20px;
                }
                display: block;
                justify-content: center;
                &_info{
                    justify-content: center;
                    width: 350px;
                    &__h{
                        font-family: Ibarra Real Nova;
                        font-size: 40px;
                        font-weight: 700;
                        line-height: 42px;
                        letter-spacing: -0.3571428656578064px;
                        text-align: left;
                        
                    }
                    &__p{
                        font-family: Public Sans;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 30px;
                        letter-spacing: 0px;
                        text-align: left;
                        
                    }
                }
            }
            }